body{
    background-color: rgb(201, 231, 201);
}
header{
    border: 3px solid rgb(184, 176, 176);
    background-color: green;
    color: white;
    text-align: center;
    margin: auto;
    width: 70%;
    font-size: 25px;
}
#navegacao li{
    display: inline;
    
}
#navegacao li a{
    color: rgb(15, 82, 24);
    text-decoration: none;
    font-size: 25px;
    margin: 30px;
}
#navegacao li a:hover{
    color: rgb(134, 23, 138);
}

#navegacao{
    padding: 5px;
    border-radius: 5px;
    width: 70%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(219, 193, 145);
}
#sobre{
    margin-left: 14%;
    background-color: rgb(248, 243, 237);
    border: 3px solid red;
    width: 70%;
    position: relative;
    z-index: 1;
    height: 60%;
    height: auto;

}
.artigo #sobre aside{
    border: 3px solid red;
    position: absolute;
    z-index: 2;
    right: 3%;
    top: 22%;
    display: inline-block;
    width: 40%;

}
#sobre #left-content {
    width: 50%;
}
.artigo h2{
    text-align: center;
    font-size: 30px;
}
.artigo p {
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
}
#tab{
    text-align: center;
    font-family: monospace;
    font-size: 15px;
}
#tab ul{
    list-style-type: none;
    border: 3px solid red;
}
#tab ul li{
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
#tab p{
    font-size: 15px;
}
img{
    position: relative;
    z-index: 2;
    left: 16%;
}
h3{
    text-align: center;
}
section{
    font-size: 24px;
}
.artigo #fatos{
    border: 3px solid red;
    max-width: 50%;
    margin: auto;
    margin-top: 30px;
    background-color: aliceblue;
}
#fatos section img{
    width: 70%;
}
#referencias{
    border: 3px solid red;
    margin: auto;
    width: 70%;
    margin-top: 30px;
    background-color: aliceblue;
}
footer{
    border: 3px solid red;
    background-color: green;
    color: white;
    text-align: center;
    margin: auto;
    width: 70%;
    font-size: 25px;
    margin-top: 30px;
    padding: 10px;
}