header{
    border: 3px solid rgb(184, 176, 176);
    background-color: green;
    color: white;
    text-align: center;
    margin: auto;
    width: 70%;
}
#navegacao li{
    display: inline;
    margin: 50px;
}
#navegacao li a{
    color: rgb(15, 82, 24);
    text-decoration: none;
    font-size: 25px;
}
#navegacao li a:hover{
    color: rgb(134, 23, 138);
}

#navegacao{
 
    width: 70%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(219, 193, 145);
}